# © 2026 Nokia
# Licensed under the BSD 3-Clause Clear License
# SPDX-License-Identifier: BSD-3-Clause-Clear

SUBSCRIPTION_ID=<your-value>
MANAGED_IDENTITY_CLIENT_ID=<your-value>
RESOURCE_GROUP_NAME=<your-value>
LOCATION=<your-value>
VNET_NAME=<your-value>
SUBNET_NAME=<your-value>
PREFIX=<your-value>
VM_IMAGE=<your-value>
